---
import Analysis from "../components/Analysis.astro";
import Bibliography from "../components/Bibliography.astro";
import CulturalImpact from "../components/CulturalImpact.astro";
import Gallery from "../components/Gallery.astro";
import Hero from "../components/Hero.astro";
import HistoryAndOrigin from "../components/HistoryAndOrigin.astro";
import Introduction from "../components/Introduction.astro";
import SectionContainer from "../components/SectionContainer.astro";
import Layout from "@/layouts/Layout.astro";
import "@/styles/globals.css";
---

<Layout title="Welcome to Astro.">
  <main>
    <SectionContainer class="py-16 md:py-36">
      <Hero />
    </SectionContainer>
    <SectionContainer class="py-16 md:py-36">
      <Introduction />
    </SectionContainer>
    <SectionContainer id="history" class="py-16 md:py-18">
      <HistoryAndOrigin />
    </SectionContainer>
    <SectionContainer id="cultural-impact" class="py-16 md:py-36">
      <CulturalImpact />
    </SectionContainer>
    <SectionContainer id="analysis" class="py-16 md:py-36">
      <Analysis />
    </SectionContainer>
    <SectionContainer id="gallery" class="py-16 md:py-36">
      <Gallery />
    </SectionContainer>
    <SectionContainer id="bibliography" class="py-16 md:py-36">
      <Bibliography />
    </SectionContainer>
  </main>
</Layout>

<script is:inline>
  const getThemePreference = () => {
    if (typeof localStorage !== "undefined" && localStorage.getItem("theme")) {
      return localStorage.getItem("theme");
    }
    return window.matchMedia("(prefers-color-scheme: dark)").matches
      ? "dark"
      : "light";
  };
  const isDark = getThemePreference() === "dark";
  document.documentElement.classList[isDark ? "add" : "remove"]("dark");

  if (typeof localStorage !== "undefined") {
    const observer = new MutationObserver(() => {
      const isDark = document.documentElement.classList.contains("dark");
      localStorage.setItem("theme", isDark ? "dark" : "light");
    });
    observer.observe(document.documentElement, {
      attributes: true,
      attributeFilter: ["class"],
    });
  }
</script>
