
---
import Subtitle from "./Subtitle.astro";

---

<Subtitle>Analisis y argumentos</Subtitle>

<ul>
  <li>
    Comparación de los tres productos en términos de impacto cultural y
    económico.
  </li>
  <li>
    Reflexión sobre cómo estos productos reflejan la identidad venezolana.
  </li>
  <li>
    Argumento central: ¿Por qué estos productos son representativos de la
    cultura venezolana?
  </li>
</ul>
