---
import Subtitle from "./Subtitle.astro";
---

<!-- 
Esquema
<ul >
  <li>Listado de fuentes primarias y secundarias.</li>
  <li>Citaciones en el texto.</li>
</ul> -->
<Subtitle>Bibliografia y fuentes</Subtitle>
<ul class="list-inside list-disc text-yellow-100">
  <li>
    Alfonzo Rivas & Cía. (n.d.). Historia de Maizina Americana. Retrieved from
    <a href="www.alfonzorivas.com"> alfonzorivas.com</a>
  </li>
  <li>
    Cámara Venezolana de la Industria de Alimentos (CAVIDEA). (n.d.). Reportes y
    Publicaciones. Retrieved from cavidea.org
  </li>
  <li>
    Pérez, M. (2020). La cocina tradicional venezolana. Editorial Venezuela
    Gastronómica.
  </li>
  <li>
    El INN proporciona información nutricional y recetas tradicionales que
    incluyen Maizena como ingrediente. Sitio web: Instituto Nacional de
    Nutrición
  </li>
  <li>
    Artículos y libros que documentan la historia de los productos alimenticios
    en Venezuela, incluyendo la introducción de Ovomaltina. Díaz, E. (2015).
    Historia de la alimentación en Venezuela. Editorial Venezolana.
  </li>
  <li>
    La página oficial de Ovomaltina proporciona información sobre la historia de
    la marca y sus productos. Sitio web: Ovomaltine
  </li>
  <li>
    Nestlé, actual propietaria de Savoy, proporciona información sobre sus
    productos, incluyendo el Toronto, en su sitio web. Sitio web: Nestlé
    Venezuela
  </li>
  <li>
    Libros y artículos que documentan la historia de Savoy y la evolución de sus
    productos. Moreno, A. (2010). Savoy: Una historia de amor y chocolate.
    Editorial Planeta.
  </li>
</ul>
