---
import Subtitle from "./Subtitle.astro";
import { FirstCardMaizena } from "./FirstCardMaizena.tsx";
import { SecondCardMaizena } from "./SecondCardMaizena";
import { FirstCardToronto } from "./FirstCardToronto";
---

<Subtitle>Impacto Cultural</Subtitle>

<div class="mb-8">
  <div>
    <h3 class="text-3xl text-yellow-400 mb-8 underline">
      Impacto Cultural de la Maizena en Venezuela
    </h3>
    <article class="flex flex-col items-center justify-center gap-4">
      <FirstCardMaizena />
      <SecondCardMaizena />
    </article>
  </div>
</div>
<div class="mb-8">
  <h3 class="text-3xl text-yellow-400 mb-8 underline">
    Influencia de la Ovomaltina en la Infancia y la Cultura Popular
  </h3>
  <div>
    <h4 class="text-left text-xl text-yellow-300">Influencia en la Infancia</h4>
    <p>
      La Ovomaltina ha sido promovida como una bebida nutritiva rica en
      vitaminas, minerales y maltodextrina, contribuyendo al crecimiento y
      desarrollo de los niños. En muchos hogares venezolanos, se considera una
      opción saludable para el desayuno y la merienda, proporcionando energía y
      nutrientes esenciales para las actividades diarias.
    </p>
    <p>
      La Ovomaltina se ha integrado en la rutina diaria de muchas familias
      venezolanas. Su sabor distintivo y su facilidad de preparación la hacen
      ideal para niños en edad escolar. Padres y madres a menudo la eligen por
      su combinación de sabor y beneficios nutricionales, ayudando a que los
      niños desarrollen hábitos alimenticios saludables desde una edad temprana.
    </p>
    <p>
      Para muchos venezolanos, la Ovomaltina evoca recuerdos de la infancia. Las
      meriendas después de la escuela, los desayunos familiares y los momentos
      compartidos con amigos y familiares están a menudo asociados con el sabor
      de la Ovomaltina, creando un vínculo emocional y nostálgico.
    </p>
    <article class="flex items-center justify-center gap-4 mt-4 mb-6">
      <img
        class="size-60 rounded-md"
        src="https://http2.mlstatic.com/D_NQ_NP_803569-MLV72861853898_112023-O.webp"
        alt=""
      />
    </article>
  </div>
  <div>
    <h4 class="text-left text-xl text-yellow-300">
      Influencia en la Cultura Popular
    </h4>
    <p>
      La Ovomaltina ha sido protagonista de numerosas campañas publicitarias en
      televisión, radio y prensa desde su introducción en Venezuela. Estos
      anuncios no solo promovieron la bebida, sino que también la convirtieron
      en un símbolo de calidad y salud, reforzando su presencia en la vida
      cotidiana de los venezolanos.
    </p>
    <p>
      La marca Ovomaltina se ha establecido como un símbolo de tradición y
      calidad en Venezuela. Su larga historia y su presencia constante en el
      mercado han solidificado su reputación como un producto confiable y
      querido por generaciones.
    </p>
    <p>
      La Ovomaltina se ha utilizado en la creación de diversos postres y recetas
      innovadoras en la gastronomía venezolana. Desde tortas y galletas hasta
      helados y batidos, su versatilidad ha permitido que sea un ingrediente
      popular en la repostería contemporánea.
    </p>
    <p>
      La Ovomaltina ha sido mencionada en canciones, programas de televisión y
      otros medios culturales, reflejando su integración en la vida y cultura
      venezolana. Su presencia en la cultura pop subraya su relevancia y el
      cariño que le tienen los venezolanos.
    </p>
    <article class="flex items-center justify-center gap-4 mt-4 mb-6">
      <img
        class="size-60 rounded-md"
        src="https://http2.mlstatic.com/D_NQ_NP_803569-MLV72861853898_112023-O.webp"
        alt=""
      />
    </article>
  </div>
</div>
<div>
  <h3 class="text-3xl text-yellow-400 mb-8 underline">
    Toronto: Relación con Eventos y Celebraciones
  </h3>
  <div class="flex items-center justify-center mb-8">
    <FirstCardToronto />
  </div>

  <div>
    <h4 class="text-left text-xl text-yellow-300">
      Influencia en la Cultura Juvenil
    </h4>
    <p>
      Los Torontos son una merienda popular entre los jóvenes venezolanos. Su
      sabor y textura crujiente los hacen un favorito en recreos escolares,
      tardes de estudio y reuniones con amigos. La accesibilidad y la
      conveniencia de los Torontos los han convertido en una opción frecuente
      para la juventud.
    </p>
    <p>
      La publicidad de los Torontos a menudo se dirige a un público joven,
      utilizando medios de comunicación como la televisión, internet y redes
      sociales. Las campañas publicitarias resaltan la calidad y el sabor del
      producto, creando un vínculo emocional con los consumidores jóvenes.
    </p>
    <p>
      Los Torontos se mencionan en canciones, programas de televisión y
      películas, reflejando su influencia en la cultura popular juvenil. Estos
      medios ayudan a perpetuar la presencia de los Torontos en la vida de los
      jóvenes venezolanos, asegurando que sigan siendo relevantes y apreciados.
    </p>
  </div>
</div>
