<h1
  class="inset-0 flex flex-col text-center items-center justify-center text-yellow-400 text-6xl mt-4"
>
  Delicias Venezolanas: Maizena, Ovomaltina y Torontos

  <span class="text-xl mt-4 text-gray-200"
    >Un viaje por los sabores emblemáticos de Venezuela</span
  >
</h1>
<div class="flex justify-center items-center">
  <img
    class="size-48"
    src="/public/gallery/unnamed-removebg-preview.png"
    alt=""
  />
  <img
    class="size-48"
    src="/public/gallery/toronto-unidad-rincon-abuel-chucherias-removebg-preview.png"
    alt=""
  />
  <img
    class="size-40"
    src="https://http2.mlstatic.com/D_NQ_NP_796198-MLV30957242037_062019-O.webp"
    alt=""
  />
</div>
