<div class="relative text-center">
  <h1
    class="absolute inset-0 flex flex-col items-center justify-center text-3xl text-black"
  >
    Delicias Venezolanas: Maizena, Ovomaltina y Torontos
    
    <span class="text-xl mt-4">Un viaje por los sabores emblemáticos de Venezuela</span>
  </h1>
  <img
    src="https://images.unsplash.com/photo-1574577456934-4b6362b8180e?q=80&w=2070&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D"
    alt="Toronto"
    class="mx-auto rounded-lg h-[400px] w-[800px] object-cover"
  />
</div>
