---
import { CarouselMaizena } from "./CarouselMaizena";
import { CarouselOvomaltina } from "./CarouselOvomaltina";
import Subtitle from "./Subtitle.astro";
---

<Subtitle>Historia y Origen</Subtitle>

<!-- Esquema -->
<div class="mb-8">
  <CarouselMaizena client:load />
</div>
<div>
  <CarouselOvomaltina client:load />
</div>
<div>
  <h3>Toronto</h3>
  <ul>
    <li>Creación y evolución del dulce.</li>
    <li>Importancia cultural y su lugar en la gastronomía venezolana.</li>
  </ul>
</div>
