---
import { CarouselMaizena } from "./CarouselMaizena";
import { CarouselOvomaltina } from "./CarouselOvomaltina";
import { CarouselToronto } from "./CarouselToronto";
import Subtitle from "./Subtitle.astro";
---

<Subtitle>Historia y Origen</Subtitle>

<!-- Esquema -->
<div class="mb-8">
  <CarouselMaizena client:load />
</div>
<div class="mb-8">
  <CarouselOvomaltina client:load />
</div>
<div>
  <CarouselToronto client:load />
</div>
