---
import Subtitle from "./Subtitle.astro";

---

<Subtitle>Historia y Origen</Subtitle>

<!-- Esquema -->
<div>
  <h3 class="text-lg font-semibold text-gray-900 dark:text-yellow-300">Maizena</h3>
  <ul>
    <li>Origen y desarrollo del producto.</li>
    <li>Usos tradicionales y contemporáneos en la cocina venezolana.</li>
  </ul>
</div>
<div>
  <h3>Ovomaltina</h3>
  <ul>
    <li>Historia de la marca y su introducción en Venezuela.</li>
    <li>Popularidad y usos comunes.</li>
  </ul>
</div>
<div>
  <h3>Toronto</h3>
  <ul>
    <li>Creación y evolución del dulce.</li>
    <li>Importancia cultural y su lugar en la gastronomía venezolana.</li>
  </ul>
</div>
